<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="layout/head :: head"></th:block>
    <title>TT / 교사 중고거래</title>
</head>
<body>
    <!-- header start-->
    <th:block th:replace="layout/header :: header"></th:block>
    <!-- header end -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- footer start -->
    <th:block th:replace="layout/footer :: footer"></th:block>
    <!-- footer end -->
</body>
</html>